body {
  font-family: Arial, sans-serif;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.container {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
  
input, textarea {
    width: 80%;
    margin: 10px 0;
    padding: 8px;
    font-size: 16px;
}
  
 button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
  
.result {
    margin-top: 20px;
    font-weight: bold;
    color: green;
 }

 #cy {
    width: 90%;
    height: 600px;
    max-width: 1000px;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: block;
    box-sizing: border-box;
}

#simOutput {
  background: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  width: 80%;
  max-width: 800px;
  text-align: left;
  white-space: pre-wrap;
  border-radius: 8px;
}